.users{
    width: 80%;
}
th{
    background-color:#009688;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

td, tr {
    border: 1px solid #009688;
    padding: 10px;
}

.users > table , .users > table > tr{
    width: 100%;
margin-left: 150px;}

.users > table > tr > th,
.users > table > tr > td {
    width: 15%;
}

.add-user-button{
    width: 170px;
  height: 50px;
 color: #009688;
  border-radius: 20px;
  box-shadow: inset 0px 0px 25px 0px #c0c0c0;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0.909);
  margin: 3% 2%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.sele{
    display: inline;
    margin-top: 10px;
    
}
.img-table{

  width: 100%;
 }
