.user{
    width: 100%;
}

td {
    
        border: 1px solid #009688;
        padding: 10px;
    

}
.user > td > .edit-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user > td > .edit-buttons-container > .edit-button , .user > td > .edit-buttons-container > .save-button{
    border: 1px solid transparent;
    color: white;
    background-color: rgb(80, 80, 80);
}

.user > td > .edit-buttons-container > .edit-button:hover , .user > td > .edit-buttons-container > .save-button:hover{
    color: rgb(0, 211, 193);
    border: 1px solid  rgb(0, 211, 193);
    cursor: pointer;
}

.user > td > .edit-buttons-container > .edit-button > .icon , .user > td > .edit-buttons-container > .save-button > .icon{
    height: 100%;
    width: 100%;
}
.btbt{
    color: #009688;
    border:none;
    margin-right: 15px;
}
.padding-top{
    padding-top: 60px;
}

