.user{
    width: 100%;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;

}
.user > td > .edit-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user > td > .edit-buttons-container > .edit-button , .user > td > .edit-buttons-container > .save-button{
    border: 1px solid transparent;
    color: white;
    background-color: rgb(80, 80, 80);
}

.user > td > .edit-buttons-container > .edit-button:hover , .user > td > .edit-buttons-container > .save-button:hover{
    color: rgb(105, 211, 0);
    border: 1px solid rgb(105, 211, 0);
    cursor: pointer;
}

.user > td > .edit-buttons-container > .edit-button > .icon , .user > td > .edit-buttons-container > .save-button > .icon{
    height: 100%;
    width: 100%;
}

.modal{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    inset: 0px;
}