.layout { 
    height: 100%;
    
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    
  }
  

  
  .layout>header, footer {
    grid-column: span 12;

    
  }
  
  .layout>aside {
    grid-column: span 2;
  }
  
  .layout>main {
    grid-column: span 12;   
  } 
  .footer{
    visibility: hidden;
  }

  
  