.coupon{
    width: 100%;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;

}
.coupon > td > .edit-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.coupon > td > .edit-buttons-container > .edit-button , .coupon > td > .edit-buttons-container > .save-button{
    border: 1px solid transparent;
    color: white;
    background-color: rgb(80, 80, 80);
}

.coupon > td > .edit-buttons-container > .edit-button:hover , .coupon > td > .edit-buttons-container > .save-button:hover{
    color: rgb(0, 211, 193);
    border: 1px solid  rgb(0, 211, 193);
    cursor: pointer;
}

.coupon > td > .edit-buttons-container > .edit-button > .icon , .coupon > td > .edit-buttons-container > .save-button > .icon{
    height: 100%;
    width: 100%;
}

