.login-main{
  text-align: center;
       justify-content: center;
       display: flex;
       padding: 90px 0 90px 0;
    
  }
  
  .login-sub-main{
    display: flex;
       justify-content: center;
       height:100%;
       width: auto;
       box-shadow:11px 12px 13px  rgb(106, 106, 106);
       padding-top: 30px;
       border-radius:  20px;
       background-color: #dff0ee;
       padding:  30px;
  } 
  
  .imgs{
    padding-top: 20px;
    justify-content: center;
    display: flex;
  
  }
  
  .container-image{
    background-color: #009688;
    border-radius: 150px;
    align-items: center;
    display: inline;
    display: flex;
    height: 115px;
    width: 29%;
  }
 
  .profile{
    padding-left: 7px;
    height: 100px;
    width: 100px;
    border-radius: 130px ;
  }
  
  .input-login{
    width:70%;
    height: 50px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border:none;
    outline: none;
    background-color: hsla(0, 0%, 100%, 0.164);
    caret-color: #009688; 
    cursor: pointer;  
    margin: 10px;
    
  }
  
  
  .email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 20px 0 0 25px;
    background-color: transparent;
  }
  
  .name{
    padding-left:20% ;
    font-size: 110%;
    width: 70%;
    flex:1;
    transition: .3s all ease;    
  }
  .name:hover{
    flex :2;
    background-color: hsla(0, 0%, 100%, 0.774);
  }
  
  .second-input{
    padding-top:  20px;
  }
  
  .button{
    width: 380px;
    height: 50px;
    border-radius: 20px;
    background-color: #009688;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  
  .login-button{
   
    width: 380px;
    height: 50px;
    border-radius: 20px;
    background-color: #009688;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: none;
    cursor: pointer;
    flex: 1;
    transition: .3s all ease;
  }
  .login-button:hover{
    background-color: #35d4c4;
    flex: 2;
    scale: 1.03;
  }
  
  .link{
    font-size: 20px;
    font-weight: 400px ;
  }
   .forgotPassword{
    cursor: pointer;
    width: 190px;
    height: 50px;   
    border-radius: 20px;
    font-size:medium;
    margin: 20px;
    background-color: #009688;
    flex: 1;
    transition: .3s all ease;
   }

   .forgotPassword:hover{
    background-color: #35d4c4;
    flex: 2;
    scale: 1.03;
   }

   .signUp{
    cursor: pointer;
    width:120px;
    height: 50px;   
    border-radius: 20px;
    font-size:medium;
    margin: 20px;
    background-color: #009688; 
    flex:1;
    transition: .3s all ease;
    
   }

   .signUp:hover{
    flex:2;
    background-color: #35d4c4;
    scale: 1.03;
   }