
html, body{
  height: 100%;
}

#root{
  min-height: 100%;   
  background-color: #fff;
  display: grid;
}

body {
  margin: 0;
  font-family:Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

